<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- Main Header -->

    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left-Side Div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="vinit" class="img-fluid" title="Vinit Kumbhani">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather app</p>
                        <h1>I am a<span class="text_clr"> React-Native Developer </span> and Nodejs Developer</h1>
                        <a href="https://www.linkedin.com/in/vinitkumbhani/" target="_vinit"><button>About me</button></a>
                    </div>

                    <!-- Right-Side Div -->

                </div>

            </div>
        </div>
    </div>

    <!-- footer code -->
        {{>footer}}
</body>

</html>